/* colors */
/* main variables */
@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700,900");
footer .footer-menu a, footer .social-links a, .menu-item { display: inline-block; line-height: 2.6rem; padding: .5rem 0; position: relative; }

footer .footer-menu a:after, footer .social-links a:after, .menu-item:after { background-color: #fff; bottom: 0; content: ''; height: 2px; left: 0; margin: auto; position: absolute; right: 0; width: 0; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

footer .footer-menu a:hover, footer .social-links a:hover, .menu-item:hover { color: #fff; }

footer .footer-menu a:hover:after, footer .social-links a:hover:after, .menu-item:hover:after { width: 100%; }

*, *:before, *:after { box-sizing: inherit; margin: 0px; padding: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

body { background-color: #fff; height: 100%; line-height: 1; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; }

ul { list-style: none; }

input, textarea { color: #333; font-family: "Lato", sans-serif; outline: none; border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

a { color: #000; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; -webkit-tap-highlight-color: transparent; }

a, span, div, button { outline: none !important; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* fancybox variables */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

.fancybox-skin { position: relative; background: #FFF; color: #444; text-shadow: none; border-radius: 4px; }

.fancybox-opened { z-index: 8030; }

.fancybox-opened .fancybox-skin { box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner { position: relative; }

.fancybox-inner { overflow: hidden; }

.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }

.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0; padding: 15px; white-space: nowrap; }

.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }

.fancybox-image { max-width: 100%; max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("fancybox_sprite.png"); }

#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }

#fancybox-loading div { width: 44px; height: 44px; }

.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }

.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; -webkit-tap-highlight-color: transparent; z-index: 8040; }

.fancybox-prev { left: 0; }

.fancybox-next { right: 0; }

.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }

.fancybox-prev span { left: 10px; background-position: 0 -36px; }

.fancybox-next span { right: 10px; background-position: 0 -72px; }

.fancybox-nav:hover span { visibility: visible; }

.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }

/* Overlay helper */
.fancybox-lock { /* overflow: hidden !important;*/ width: auto; }

.fancybox-lock body { overflow: visible !important; height: auto; }

.fancybox-lock-test { overflow-y: hidden !important; }

.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url("fancybox_overlay.png"); }

.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }

.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

/* Title helper */
.fancybox-title { visibility: hidden; font-size: 14px; line-height: 18px; font-family: "Lato", sans-serif; color: #FFF; position: relative; text-shadow: none; z-index: 8050; }

.fancybox-opened .fancybox-title { visibility: visible; }

.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }

.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; /* Fallback for web browsers that doesn't support RGBa */ background: rgba(0, 0, 0, 0.8); border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; }

.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }

.fancybox-title-inside-wrap { padding-top: 10px; }

.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("fancybox_sprite@2x.png"); background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div { background-image: url("fancybox_loading@2x.gif"); background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/ } }

html { font-size: 62.5%; }

body { color: #000; font-family: "Lato", sans-serif; font-size: 1.8rem; line-height: 2.7rem; box-sizing: border-box; }

button, select, label[for], input[type='submit'], input[type='image'] { color: inherit; cursor: pointer; outline: none !important; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

input[type='number'] { -moz-appearance: textfield; }

input::-ms-clear { display: none; }

:disabled, [disabled], [aria-disabled="true"] { cursor: not-allowed; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; }

strong { font-weight: 700; }

b { font-weight: 600; }

input, select, button, textarea { font: inherit; outline: none; }

img { height: auto; max-width: 100%; }

/*** PRE-DEFINED CLASSES ***/
.inline { display: inline-block; }

.hidden { display: none; }

.disabled { pointer-events: none; }

.pull-left { float: left; }

.pull-right { float: right; }

.clearfix:after { content: ""; display: table; clear: both; }

.bg-light { background: rgba(28, 110, 92, 0.05); }

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.section-link { color: #1C6E5C; font-size: 1.6rem; font-weight: 900; text-transform: uppercase; }

.section-link:hover { color: #000; }

.main-wrapper { padding: 7rem 0 0; min-width: 320px; width: 100%; position: relative; overflow: hidden; min-height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }

.wrapper { max-width: 1080px; padding: 0; margin: 0 auto; position: relative; }

/* titles */
h1 { font-size: 5rem; line-height: 6rem; color: #000; font-family: "Lato", sans-serif; padding: 0; font-weight: 600; }

h2 { font-size: 3.6rem; line-height: 4.4rem; color: #000; font-family: "Lato", sans-serif; padding: 1.5rem 0 5rem; font-weight: 600; }

h3 { font-size: 2.4rem; line-height: 2.9rem; color: #000; font-family: "Lato", sans-serif; padding: 1.5rem 0; font-weight: 600; }

section { padding: 6.5rem 1.5rem 0; }

@media screen and (max-width: 425px) { section { padding: 4rem 1.5rem 0; } }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper { visibility: hidden; }

.icon-load { background: url(../img/loader.gif) no-repeat left top; width: 4rem; height: 4rem; position: fixed; left: 50%; top: 50%; margin-left: -2rem; display: none; }

.loaded .icon-load { display: block; }

.mt20 { margin-top: 2rem; }

.content { background: #fff; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; text-align: left; width: 100%; }

.btn { background-color: #1C6E5C; border: none; color: #fff; cursor: pointer; display: inline-block; font-size: 1.6rem; font-weight: 900; letter-spacing: 1px; line-height: 45px; padding: 0 3.5rem; text-transform: uppercase; }

.btn:hover { background-color: #175a4b; }

.btn-border { border: 2px solid #fff; }

header { background: #1C6E5C; height: 7rem; left: 0; min-width: 320px; -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; padding: 0 2rem; position: fixed; top: 0; width: 100%; z-index: 1; }

header .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; height: 100%; }

footer { background: #1C6E5C; color: #fff; -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; padding: 5rem 1.5rem 0; width: 100%; }

footer .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

@media screen and (max-width: 768px) { footer .wrapper { -webkit-box-pack: space-evenly; -webkit-justify-content: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }

@media screen and (max-width: 550px) { footer .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

footer .footer-menu { color: #fff; line-height: 2.2rem; margin-bottom: 5rem; }

footer .footer-menu a { padding: 9px 0; }

footer .social-links { color: #fff; letter-spacing: 1px; }

footer .social-links-title { color: rgba(255, 255, 255, 0.6); margin-bottom: 1.5rem; }

footer .social-links a { padding: 7px 0; }

footer .social-links .fab { font-size: 2rem; margin-right: 1rem; }

footer h3 { color: #fff; letter-spacing: 1.2px; margin-bottom: .5rem; text-transform: uppercase; }

footer .email { text-decoration: underline; }

footer .email:hover { text-decoration: none; }

footer .form { text-align: center; width: 100%; }

footer .form p { color: rgba(255, 255, 255, 0.6); font-size: 1.6rem; line-height: 1.9rem; margin-bottom: 2rem; text-align: left; }

footer .form-group { margin-bottom: .5rem; }

footer .form-label { display: block; font-size: 1.4rem; padding-left: 2rem; text-align: left; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; width: 100%; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { footer .form-label { visibility: hidden; } }

@supports (display: -ms-grid) { footer .form-label { visibility: hidden; } }

footer .form-input { background: none; border: 1px solid rgba(255, 255, 255, 0.3); color: #fff; padding: .5rem 2rem; width: 100%; }

footer .form-input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }

footer .form-input:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }

footer .form-input::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }

footer .form-input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }

footer .form-input:placeholder-shown + .form-label { opacity: 0; visibility: hidden; -webkit-transform: translateY(-4rem); -ms-transform: translateY(-4rem); transform: translateY(-4rem); }

footer .form select { margin-bottom: 3rem; }

footer .form select option { color: #000; }

footer .form .btn { width: 20rem; }

footer .menu-widget { position: absolute; left: 0; }

@media screen and (max-width: 768px) { footer .menu-widget { position: static; } }

@media screen and (max-width: 550px) { footer .menu-widget { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; } }

footer .form-widget { margin: auto; }

@media screen and (max-width: 768px) { footer .form-widget { margin: 0; } }

footer .mettr { max-width: 29.1666%; position: absolute; right: 0; }

@media screen and (max-width: 1023px) { footer .mettr { display: none; } }

footer .footer-lower { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: rgba(255, 255, 255, 0.6); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; height: 7rem; font-size: 1.2rem; line-height: 1.5rem; margin-top: 1.5rem; text-align: center; }

footer .footer-lower a { padding: 0 5px; }

footer .footer-lower a:hover { color: #fff; text-decoration: underline; }

.menu { color: #fff; }

.menu-checkbox { display: none; }

.menu-button { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; background: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; height: 4.8rem; position: relative; width: 4.8rem; }

@media screen and (min-width: 769px) { .menu-button { display: none; } }

.menu-icon { position: relative; }

.menu-icon:before, .menu-icon:after { content: ""; position: absolute; left: 0; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.menu-icon:before { top: -.8rem; }

.menu-icon:after { top: .8rem; }

.menu-icon, .menu-icon:before, .menu-icon:after { width: 3rem; height: 2px; background-color: #333; display: inline-block; }

.menu-checkbox:checked + .menu-button .menu-icon { background-color: transparent; }

.menu-checkbox:checked + .menu-button .menu-icon:before { top: 0; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); }

.menu-checkbox:checked + .menu-button .menu-icon:after { top: 0; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); }

@media screen and (max-width: 768px) { .menu-list { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; background: rgba(255, 255, 255, 0.95); background: rgba(0, 0, 0, 0.95); bottom: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; left: 0; opacity: 0; overflow: auto; padding: 2rem 0; position: fixed; right: 0; top: 7rem; -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); width: 0; } }

.menu-checkbox:checked ~ .menu-list { opacity: 1; padding: 2rem; width: 100%; }

.menu li { display: inline-block; margin-right: 20px; }

.menu li.active a:after { width: 100%; }

@media screen and (max-width: 768px) { .menu-item { display: inline-block; font-size: 2.5rem; padding: 2rem 0; } }

.hero-section { max-height: 480px; padding: 0; position: relative; }

.hero-section .hero-image { position: relative; }

.hero-section .hero-image:after { background: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 110, 92, 0)), to(#1C6E5C)); background: linear-gradient(180deg, rgba(28, 110, 92, 0) 0%, #1C6E5C 100%); content: ''; height: 52%; position: absolute; bottom: 0; left: 0; right: 0; }

.hero-section .hero-image img { -o-object-fit: cover; object-fit: cover; min-height: 270px; }

.hero-section .main-title { bottom: 16.6666%; color: #fff; left: 0; letter-spacing: 1.8px; margin: auto; max-width: 81.5rem; padding: 0 1.5rem; right: 0; position: absolute; }

@media screen and (max-width: 768px) { .hero-section .main-title { bottom: 10%; font-size: 3rem; line-height: 4rem; } }

.mission-section .section-content { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

@media screen and (max-width: 425px) { .mission-section .section-content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.mission-section .col-1-of-2 { width: 48.6%; }

@media screen and (max-width: 425px) { .mission-section .col-1-of-2 { margin-bottom: 2rem; width: 100%; } }

.service-section .section-header { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.service-section .section-content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

@media screen and (max-width: 1036px) { .service-section .section-content { -webkit-box-pack: space-evenly; -webkit-justify-content: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }

.service-section .service-item { margin-bottom: 3rem; height: 250px; position: relative; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; width: 340px; }

.service-section .service-item img { height: 100%; -o-object-fit: cover; object-fit: cover; }

.service-section .service-item .service-title a { background: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 110, 92, 0.05)), to(#1C6E5C)); background: linear-gradient(180deg, rgba(28, 110, 92, 0.05) 0%, #1C6E5C 100%); position: absolute; left: 0; top: 0; bottom: 0; right: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; color: #fff; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; height: 100%; }

.service-section .service-item:hover { box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5); -webkit-transform: translateY(-5px); -ms-transform: translateY(-5px); transform: translateY(-5px); }

.gallery-section { padding-bottom: 8rem; }

.gallery-section .section-header { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.gallery-section .section-content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media screen and (max-width: 1024px) { .gallery-section .section-content { -webkit-box-pack: space-evenly; -webkit-justify-content: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }

.gallery-section .gallery-item { height: 34rem; margin-bottom: 2rem; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; width: 34rem; }

.gallery-section .gallery-item .fancybox { display: block; height: 100%; }

.gallery-section .gallery-item .fancybox img { height: 100%; -o-object-fit: cover; object-fit: cover; width: 100%; }

.gallery-section .gallery-item:hover { opacity: .9; }

.review-section { padding-top: 4rem; padding-bottom: 6rem; }

.review-section .review-item { max-width: 900px; margin: auto; }

.review-section .review-text { margin-bottom: 3rem; }

.review-section .user-name { font-weight: 600; font-size: 2.4rem; line-height: 2.9rem; letter-spacing: 1.2px; margin-bottom: 1rem; }

.review-section .user-position { color: rgba(0, 0, 0, 0.6); line-height: 2.2rem; }

.brand-section { padding: 8rem 1.5rem 0; }

.brand-section .wrapper { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

@media screen and (max-width: 475px) { .brand-section .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.brand-section .brand-item { max-width: 25rem; margin-bottom: 2rem; }

.brand-section .brand-item.item2 { max-width: 20rem; }

.contact-section { padding-bottom: 7.5rem; }

@media screen and (max-width: 768px) { .contact-section { padding-bottom: 0; padding-left: 0; padding-right: 0; } }

.contact-section .section-conent { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

@media screen and (max-width: 768px) { .contact-section .section-conent { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; } }

.contact-section .map { margin-right: 3rem; width: 71rem; }

@media screen and (max-width: 768px) { .contact-section .map { margin-right: 0; width: 100%; } }

.contact-section .contact-info { width: 29.5rem; }

@media screen and (max-width: 768px) { .contact-section .contact-info { margin-bottom: 2rem; padding-left: 2rem; padding-right: 2rem; width: 100%; } }

.contact-section .contact-info .office-address { margin-bottom: 3rem; }

.contact-section .contact-info h3 { font-weight: 900; letter-spacing: 1.2px; margin-bottom: 1.5rem; }

.contact-section .contact-info h4 { font-size: 2.4rem; font-weight: 600; letter-spacing: 1.2px; margin-bottom: 1.5rem; }

.contact-section a { color: #1C6E5C; }

.contact-section .btn { color: #fff; margin-top: 2rem; }

.payment-section { padding-bottom: 5rem; }

.payment-section .section-title { margin-bottom: 1rem; }

.payment-section .payment-system { max-width: 240px; margin: auto; }

.payment-section .btn { margin-bottom: 4rem; }

/*# sourceMappingURL=style.css.map */
