/* colors */

$white: #fff;
$black: #000;
$dark: #2d2d43;
$blue: #4451fc;
$grey: #656770;
$grey-dark: #404250;
$grey-light: #ccc;

$main-color: $black;
$link-color: $main-color;

/* main variables */

$min-width: 320px;
$max-width: 1230px;
$base-bg: $white;
$base-font-size: 1.6rem;
$base-line-height: 1.8rem;
$base-font-family: 'Poppins', sans-serif;
$custom-font-family: 'Lato', sans-serif;

//text, titles
$text-color: #696969;
$title-color: $dark;
$title-font-family: $base-font-family;
$title-font-weight: 600;

$font-size-h1: 6rem;
$line-height-h1: 8rem;
$font-size-h2: 3.6rem;
$line-height-h2: 4.8rem;
$font-size-h3: 2.4rem;
$line-height-h3: 6rem;
$font-size-h4: 1.6rem;
$line-height-h4: 6rem;

$headerTopHeight: 11rem;
$headerHeight: 75rem;
$footerHeight: 8rem;

$default-transition: all .2s linear;

/* Grid */
$vertical-gutter: 2rem;
$horizontal-gutter: 2rem;

			//.col-2-of-3
@function grid($col, $numOfCol){
	$numOfGutters: $numOfCol - 1; //number of gutters between columns in a row
	$addGutter: ($col - 1) * $horizontal-gutter; //number of gutters, width of which should be added to column

	$width: calc(
		(((100% - #{$horizontal-gutter} * #{$numOfGutters}) / #{$numOfCol}) * #{$col}) + #{$addGutter}
	);

	@return $width;
}