.mission-section {
  .section-content {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
  }
  .col-1-of-2 {
    width: 48.6%;
    @media screen and (max-width: 425px) {
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}